body {
    font: 24px sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main {
    margin: 32px auto;
    width: 85vw;
}

#main #link {
    font-weight: bold;
    font-size: 40px;
    margin: 64px 0;
}

img {
    margin: 12px 0;
}

td {
    border: 1px solid #000;
}

small {
    font-size: 0.5em;
    font-weight: normal;
    color: #333;
}