body {
    font: 24px sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main {
    margin: 32px auto;
    width: 85vw;
}

#main #link {
    font-weight: bold;
    font-size: 40px;
    margin: 64px 0;
}

#controller {
    border: 1px solid #000;
    position: absolute;
    padding: 20px;
    right: 30px;
    top: 30px;
}

.fish {
    position: absolute;
    width: 100px;
}

.fish img {
    width: 100%;
}

.fish .level {
    background: #000;
    margin: 0 0 6px 0;
    padding: 0;
    height: 10px;
    width: 100%;
}

.fish .level .filled {
    background: #ff8800;
    height: 10px;
}